/*------------------------------- HTML and Body Standart */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #393e46;
    padding-top: 56px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/*------------------------------- Colors */

.bg-black-xbox {
    background-color: #222831;
}

.ui-green-xbox {
    color: #00b906;
}

/*------------------------------- Navbar */
.bg-navbar-color {
    background-color: #222831;
}

li .nav-link, .navbar-brand {
    color: #00b906;
}

.navbar-brand {
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

.navbar-toggler {
    border-color: #00b906;
}

.custom-fa-bars{
    color: #00b906;
    font-size: 25px;
}

.position-relative {
    position: relative;
}

/*------------------------------- Carousel */
