/*------------------------------- HTML and Body Standart */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #393e46;
    padding-top: 56px;
    color: #222831;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #222831;
}

/*------------------------------- General Settings */

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/*------------------------------- Colors */

.bg-black-xbox {
    background-color: #222831;
}

.ui-green-xbox {
    color: #00b906;
}

/*------------------------------- Navbar */
.bg-navbar-color {
    background-color: #222831;
}

li .nav-link, .navbar-brand {
    color: #00b906;
}

.navbar-brand {
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

.navbar-toggler {
    border-color: #00b906;
}

.custom-fa-bars{
    color: #00b906;
    font-size: 25px;
}

.position-relative {
    position: relative;
}

/*------------------------------- Carousel */

/*------------------------------- Tech Section */

.bg-card-tech {
    background-color: #fff;
    border-top: 3px solid #00b906;
    border-bottom: 5px solid #00b906;
    margin-right: 1rem auto;
    margin-left: 1rem auto;
    box-shadow: 0 0 0 5px #00b906b2;
    padding-top: 2rem;
}

.card-title {
    display: flex;
    justify-content: center;
     font-size: xx-large;
}

.card-header {
    padding-bottom: 25px;
    background-color: #fff;
    border: 0;
}

.card-columns {
    padding: 5px;
    margin-bottom: 20px;
}