/*------------------------------- HTML and Body Standart */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #393e46;
    padding-top: 56px;
    /* color: #222831; */
    color: #fff;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #222831;
}

/*------------------------------- General Settings */

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/*------------------------------- Divisions */

.divison {
    border: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80px;
    height: 10px;
}

hr {
    box-sizing: content-box;
    overflow: visible;
}

/*------------------------------- Colors */

.bg-black-xbox {
    background-color: #222831;
}

.ui-green-xbox {
    color: #00b906;
}

.ui-lgblue-x-button {
    color: #0ba3e9;
}

.ui-lgyellow-y-button {
    color: #ded520;
}

.ui-red-b-button {
    color: #e05351;
}

.ui-gree-a-button {
    color: #76c05e;
}

/*------------------------------- Navbar */
.bg-navbar-color {
    background-color: #222831;
}

li .nav-link, .navbar-brand {
    color: #00b906;
}

.navbar-brand {
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

.navbar-toggler {
    border-color: #00b906;
}

.custom-fa-bars{
    color: #00b906;
    font-size: 25px;
}

.position-relative {
    position: relative;
}

/*------------------------------- Carousel */

.hero-container {
    height: 100vh;
}

/*------------------------------- Tech Section */
.teach-feat-container {
    background-image: url("/assets/images/teach-feat-option2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 5px solid #222831;
    border-bottom: 5px solid #222831;
    box-shadow: 20px 20px 20px 20px #222831;
    padding-top: 50px;
    padding-bottom: 140px;
}

.bg-fade-cover {
    object-fit: cover;
    opacity: 0.95;
}

.card-title-h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid #0ba3e9;
}    

.card-title-h3 {
    font-weight: 600;
    margin-bottom: 25px;
}

.overlay-box {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid #0ba3e9;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.ghost-column {
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-position {
    padding-bottom: 25px;
    border: 0;
}

.card-padding {
    padding: 5px;
    margin-bottom: 20px;
}

.tech-highlights p {
    padding-bottom: 0.5rem;
}

.tech-highlights {
    padding-top: 40px;
}

